/* Add your own styles */
h1{
    border-bottom-style: groove;
    border-bottom-color: rgb(19, 255, 78);
    border-bottom-width: 15px;
    text-align: center;
    border-bottom-left-radius: 350px;
    border-bottom-right-radius: 350px;
    background-image: url("internationalisation.jpg");
    background-color: #cccccc;
}
#country{

 width: 150px;
 font-size: 20px;
 
    
}

button{
     color:rgb(185, 185, 185);
    font-size: 14px;
    border-radius: 5px;
}
#lookup{
    background-color: rgb(12, 15, 145);
    
   
    
}

#citylookup{
    background-color: limegreen;

}
  
table{
    width: 100%;
    
}
table th{
    background-color: #005b96;
    color: white;
}
table tr{
    background-color: #6497b1;
   
}
table tr:nth-child(even) {
  background: #b3cde0;
}